.pwgen-container {
  width: 350px;
  margin: auto;
  padding: 20px;
}

.pwgen-section {
  margin-bottom: 20px;
}

.pwgen-label {
  font-size: 14px;
  margin-bottom: 6px;
}

.pwgen-value {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#pwgen-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 18px;
  background: #ccc;
  border-radius: 9px;
  outline: none;
}

#pwgen-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

#pwgen-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

.pwgen-options {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pwgen-checkbox-label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  font-size: 18px;
}

.pwgen-checkbox {
  width: 22px;
  height: 22px;
  accent-color: red;
  cursor: pointer;
}

.pwgen-output {
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  user-select: all;
  border: 1px solid #999;
  border-radius: 6px;
  min-height: 30px;
}
.pwgen-buttons button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.pwgen-buttons i {
  font-size: 18px;
  color: grey;
}

.pwgen-buttons button:hover i {
  color: #333;
}
